*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Body_container{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 95vw;
    padding: 2rem;
    border: 5px solid black;
}
.header_container{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.main_container{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
}