*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 20px;
}
.container{
    width: 90%;
    height: 90%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.header{
    text-align: center;
    width: 90%;
    height: 10%;
    padding: 10px;
}
.header h1{
    margin: 20px;
}
.card{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    margin: 10px;
    padding: 30px;
}
.item{
    border: 2px solid beige;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: 40%;
    border-radius:10px;
    transition-duration: 3s;
    transition-property: all;
    transition-delay: 0.3ms;
    transition-timing-function: ease-in;
}
.card img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 30px 5px black ;
}
.body{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.footer{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 30%;
    margin-top: 10px;
}
.leftbox{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 10px;
    gap: 5px;
    
}
.leftbox img{
    border-radius: 5px;
    width: 40%;
    margin: 5px;
}
.leftbox span{
    text-align: center;
}
.rightbox{
    width: 40%;
    margin: 10px;
    margin-top: 15px;
}
.rightbox p{
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
}
