*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}
.navcontainer{
    
    background-color: azure; 
}
#navlist{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    list-style: none;
}
#logo{
    /* background-color: dodgerblue; */
    list-style: none;
    font-size: 2.8em;
    color: maroon;
    font-weight:lighter;
    padding-left: 10px;
}
a{
    padding: 10px;
    /* background-color: burlywood; */
    list-style: none;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    text-decoration: none;
    gap: 10px;
}
.footerbox{
    width: 100%;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    min-height: 40px;
    text-align: center;
    font-size: 1.5em;
    align-self: center;
}
main{
    padding: 20px;
}
.contentbox{
    width: 70%;
    background-color: azure;
    min-height: 40px;
    margin: auto; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    box-shadow: 10px 10px  40px blue;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 0.3s;
    transition-timing-function: ease;
    border-radius: 10px;
}
.item:hover{
    box-shadow: inset 10px 10px  40px rgb(255, 72, 0);
}
.leftbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px;
}
.leftbox h2{
    font-size: 2rem;
}
#gulab{
    font-size: 1.5rem;
    padding-left: 19px;
}
#Process{
    font-size: 1.5rem;
    padding-left: 20px;
}
#image1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 0.3s;
    transition-timing-function: ease;
    margin-top: 20px;
}
#image1:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 50px 2px rgb(18, 108, 130);
}
#image2{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 0.3s;
    transition-timing-function: ease;
    margin-top: 20px;
}
#image2:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 50px 2px rgb(18, 108, 130);
}

#kaju{
    font-size: 1.5rem;
    padding-left: 19px;
}
#make{
    font-size: 1.5rem;
    padding-left: 20px;
}
