*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    padding: 50px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
}
.item{
    /* width: 100px;
    height: 100px; */
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content_1{
    grid-column-start: 2;
    grid-column-end: 4;
}