body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(https://th.bing.com/th/id/R.98f10f77196d270ed563356d52773b21?rik=ccaUEsZfxDgYKw&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f08%2fBest-PC-Backgrounds-HD-For-Desktop.jpg&ehk=%2f77hAyhTSIKGUg43JhrOuRvgzgnGie%2brjH7g6hFlCjE%3d&risl=1&pid=ImgRaw&r=0);
}
nav{
    width: 100%;
    height: 10%;
    /* background-color: rgb(246, 255, 0); */
    display: flex;
    flex-direction: row;
}
#navleft{
    width: 30%;
    height: 90%;
    /* background-color: brown; */
    padding: 5px;
}
#navleft img{
    width: 30%;
    height: 30%;
    border-radius: 360px;
    margin-left: 20px;
}
#navright{
    width: 70%;
    height: 100%;
    /* background-color: rgb(65, 42, 165); */
    padding: 10px;
}
#navright ul{
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: darkgreen; */
}
