*{
    padding:0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 15%;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /* background-color: blue; */
    margin-top: 10px;
}
header ul{
    margin-right: 2vw;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: brown; */
    list-style:none;
}
header li{
    margin: 20px;
}
a{
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 20px;
}
main{
    width: 100%;
    height: 85%;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    /* background-color: rgb(150, 160, 95); */
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.card{
    /* background-color: brown; */
    border: 10px 10px solid black;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
img{
    width: 100%;
    height: 60%;
}
.card h2{
    font-family: "Bonheur Royale", cursive;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
.card p{
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 10px;
    text-align: start;
}
footer{
    width: 100%;
    height: 15%;
    /* background-color: rgb(64, 75, 66); */
    margin-bottom: 100px;
    color: #ace0f9;
    font-size: 20px;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}