*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color:khaki;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}
#page2 #image_div{
    height: 100%;
    width: 35%;
    position: relative;
    left:52.5%;
    transform: translateX(-50%);
    background-color: brown;
}
#image_div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rosybrown;
    scale: 1.4;
}