*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
#page1{
    width: 100%;
    height: 100%;
    background-color:khaki;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
#page2 h1{
    width: 100%;
    height: 100%;
    font-size: 45vw;
    font-weight: 500;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rosybrown;
}