*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
}
#page1{
    width: 100%;
    height: 100%;
    background-color:khaki;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
#page2 img{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: 80% 80%;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rosybrown;
}