*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color:khaki;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background:url(https://www.almanac.com/sites/default/files/images/Earth.jpg);
    background-position: center;
    background-size: cover;
}