*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}
.box1{
    background-color: aliceblue;
}
.square{
    width: 5%;
    height: 10%;
    rotate: 45deg;
    background-color: rgb(0, 0, 0);
    margin: 10%;
}
.box2{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 5%;
}
#menu{
    text-decoration: none;
    color: black;
}
#a1{
    text-decoration: none;
    color: black;
}
#a2{
    text-decoration: none;
    color: black;
}#a3{
    text-decoration: none;
    color: black;
}
#a4{
    text-decoration: none;
    color: black;
}
#a5{
    text-decoration: none;
    color: black;
}
.bottom{
    display: flex;
    flex-direction: column;
}
.box3{
    background-color:aliceblue;
    grid-row:1/5 ;
    grid-column: 3/5;
    overflow:hidden;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}
#visual{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.box4{
    background-color: aliceblue;
    grid-row: 2/4;
    grid-column:1/3 ;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
#h1{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    line-height: 50%;
    margin-top:5%;
}
#h2{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    margin-left: 30%;
}#h3{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    line-height: 50%;
}#h4{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    margin-left: 40%;
}

.box5{
    background-color: aliceblue;
    grid-column: 1/3;
    padding: 10px;
}
#content{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 13px;
    margin-top: 15%;
}