*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(98, 185, 185); */
    padding-top: 0.1px;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 12vh;
    /* background-color: rgb(242, 142, 12); */
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    padding:0px 30px;
    border: 3px solid black;
}
nav h2{
    width: 20vw;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* background-color: brown; */
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h2:nth-last-child(1){
    width: 15vw;
    border-right: none;
}
nav h2:nth-last-child(2){
    width: 24vw;
}
nav h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    width: 300px;
    height: 100%;
     font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 60px;
    letter-spacing: -5px;
    padding-bottom: 10px;
}
#copyright{
    font-size: 30px;
    /* background-color: aquamarine; */
    margin-bottom: 20px;
    padding: 8px;
}
.center{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    position: relative;
    padding: 4vw;
}
.content{
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    position: relative;
}
.content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% 15%;
}
#tag1{
    width: 92%;
    position: absolute;
    bottom: 10vw;
    border-bottom: 2px solid white;
    font-size: 40px;
    color: white;
    padding-left: 2vw;
}
#tag2{
    position: absolute;
    bottom: 6.5vw;
    font-size: 20px;
    color: white;
    padding-left: 2vw;
}
#scroll{
    width: 100vw;
    height: 50%;
    /* background-color: brown; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 2vw;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-delay: 0.2ms;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#container img{
    height: 95%;
    width: 15%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 0vw 1vw;
}
#alphabet{
    width: 100%;
    height: 10vh;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8vw;
    margin-top: 2.5vw;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 8px;
    margin-bottom: 5vw;
}
#alphabet h5{
    font-size: 20px;
    font-style: italic;
    margin-right: 10px;
}
#alphabet h5:hover{
    border-bottom: 2px solid black;
}
#alphabet h6{
    font-size: 17px;
    font-style: italic;
    /* background-color: aqua; */
    padding: 0.4vw;
    border-radius: 50%;
    transition: all ease 0.1s;
    text-align: center;
    cursor: pointer;
}
#alphabet h6:hover{
    border: 2px solid black;
}
#page2{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    margin: 2vw 0vw;
}
#part1{
    width: 60%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
#part1 img{
    width: 90%;
    height: 95%;
    object-fit: cover;
    object-position: 35% 35%;
    
}
#part1 h1{
    margin-left: 3vw;
    align-self: flex-start;
}
#part2{
    width: 40%;
    height: 100%;
    /* background-color: rgb(210, 30, 138); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
#part2 img{
    width: 90%;
    height: 70%;
    object-fit: cover;
    object-position: 20% 20%;
    margin-bottom: 10px;
}
#a{
    width: 90%;
    height: 30%;
    display: flex;
    gap: 2vw;
}
#a h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#a p{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#page3{
    width: 100%;
    height: 100%;
    /* background-color: cyan; */
    padding: 3vw;
    display: flex;
}
#page3_part1{
    width: 40%;
    height: 100%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#page3_part1 h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#page3_part1 img{
    margin: 10px;
    border-radius: 50%;

}
#page3_part2{
    width: 60%;
    height: 100%;
    /* background-color: rgb(42, 165, 56); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3_part2 img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: 28% 28%;
}
#page4{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
}
#page4 img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: 30% 30%;
}
#page5{
    width: 100%;
    height: 100%;
    position:relative;
    /* background-color: darkkhaki; */
}
#page5>h1{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: -5px;
    text-align: center;
    padding-top: 2vw;
}
#elem{
    width: 100%;
    height: 18vh;
    /* background-color: brown; */
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: relative;
    cursor: pointer;
}
#elem>h1{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}
#fifth h1{
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* background-color: aqua; */
  font-size: 50px;
  margin-right: 10vw;
  text-align: start;
}
#fifth p{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#elem img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: aqua; */
    object-fit: cover;
    object-position: top;
    position: absolute;
    left:10%;
    opacity: 0%;
    transition: all ease 0.9s;
}
#elem:nth-last-child(1) img{
    left: 50%;
    opacity: 0%;
}
#elem:nth-last-child(3) img{
    left: 50%;
    opacity: 0%;
}
#elem:hover img{
    opacity: 100%;
    left: 30%;
}
/* #elem:nth-last-child(4){
    display: flex;
    flex-direction: row;
} */
#page6{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    margin: 2vw 0vw;
}
#sixth_a{
    width: 60%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
#sixth_a img{
    width: 90%;
    height: 95%;
    object-fit: cover;
    object-position: 35% 35%;
}
#sixth_a h1{
    margin-left: 3vw;
    align-self: flex-start;
}
#sixth_b{
    width: 40%;
    height: 100%;
    /* background-color: rgb(210, 30, 138); */
    display: flex;
    flex-direction: column;
    justify-content: start;

}
#sixth_b h1{
    width: 100%;
    height: 15vh;
    font-family: "Rajdhani", sans-serif;
    font-weight: 1000;
    font-style: normal;
    /* background-color: blue; */
    text-align: start;
    padding: 2vw;
    /* margin-bottom: 2vw;  */
}
#sixth_b h3{
    width: 100%;
    height: 20vh;
    /* background-color: blueviolet; */
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 2vw;
    text-align: start;
}
#sixth_b h6{
    width: 100%;
    height: 15vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* background-color: aqua; */
    font-size: 18px;
    padding: 2vw;
    /* margin-bottom: 30px; */
}
#part_a{
    margin-top: 44px;
    width: 100%;
    height: 35vh;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
}
#part_a img{
    width: 50%;
    height: 100%;
    padding: 0.8vw;
    object-fit: cover;
    object-position: top;
}
#page7{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
}
#page7 video{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: 40% 40%;
    border-radius: 20px;
}
#page8{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    margin: 2vw 0vw;
}
#eight_1{
    width: 60%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
#eight_1 img{
    width: 90%;
    height: 95%;
    object-fit: cover;
    object-position: 35% 35%;
}
#eight_1 h1{
    margin-left: 3vw;
    align-self: flex-start;
}
#eight_2{
    width: 40%;
    height: 100%;
    /* background-color: rgb(210, 30, 138); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
#eight_2 img{
    width: 90%;
    height: 70%;
    object-fit: cover;
    object-position: 20% 20%;
    margin-bottom: 10px;
}
#a{
    width: 90%;
    height: 30%;
    display: flex;
    gap: 2vw;
}
#a h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#a p{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#page9{
    width: 100%;
    height: 100%;
    /* background-color: rgb(95, 108, 160); */
}
#marque{
    width: 100%;
    height: 15vh;
    /* background-color: crimson; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 6vw;
}
#marque h1{
    font-size: 70px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    animation-name: slide;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin-right: 15px;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#last_section{
    width: 100%;
    height: 80%;
    /* background-color: rgba(0, 255, 64, 0.625); */
    display: flex;
    padding: 20px;
    margin-top: 4vw;
}
#box1{
    width: 20%;
    height: 100%;
    /* background-color: rgb(231, 19, 36); */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}
#box1 h1{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 60px;
    letter-spacing: -5px;
}
#box2{
    width: 40%;
    height: 100%;
    /* background-color: rgb(255, 0, 234); */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#box2 img{
    width: 90%;
    height: 60%;
    object-fit: cover;
    object-position:40% 40%;
    border-radius: 20px;
    margin-top: 2vw;
}
#box2 h2{
    width: 100%;
    height: 20vh;
    /* background-color: blueviolet; */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 1vw;
    text-align: start;
}
#box3{
    width: 40%;
    height: 100%;
    /* background-color: rgb(234, 255, 3); */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#box3 img{
    width: 90%;
    height: 60%;
    object-fit: cover;
    object-position:40% 40%;
    border-radius: 20px;
    margin-top: 2vw;
}
#box3 h2{
    width: 100%;
    height: 20vh;
    /* background-color: blueviolet; */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 1vw;
    text-align: start;
}
#page10{
    width: 100%;
    height: 50%;
    /* background-color: cadetblue; */
}
#footer{
    width: 100%;
    height: 90%;
    /* background-color: rgba(0, 255, 64, 0.625); */
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
}
#bucket1{
    width: 40%;
    height: 100%;
    /* background-color: rgb(234, 255, 3); */
    border: 2px solid black;
    /* justify-content: center; */
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
#bucket1 h1{
    /* background-color: blueviolet; */
    width: 300px;
    height: 100%;
     font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 60px;
    letter-spacing: -5px;
    margin-top: -1vw;
    margin-left: 1vw;
}
#bucket1 sup{
    font-size: 30px;
    /* background-color: aquamarine; */
    margin-bottom: 20px;
    padding: 8px;
}
#bucket1 h2{
    width: 20vw;
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 10vw;
    margin-top: 1.3vw;
}
#bucket2{
    width: 20%;
    height: 100%;
    /* background-color: rgb(234, 255, 3); */
    border: 2px solid black;
    /* justify-content: center; */
    text-align: center;
}
#bucket2 h2{
    width: 20vw;
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 2vw;
}
#bucket3{
    width: 40%;
    height: 100%;
    /* background-color: rgb(234, 255, 3); */
    /* border: 2px solid black; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bucket3 h2{
    width: 100%;
    height: 40%;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 5vw;
}
#bucket3 h3{
    width: 100%;
    height: 60%;
    /* border: 2px solid black; */
    text-align: center;
}