*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
.card{
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(3,1fr);
    background: url(https://images.unsplash.com/photo-1740832780965-0982fb5dd8d8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIxNnxpVUlzblZ0akIwWXx8ZW58MHx8fHx8);
}
/* box 1 starts */
#box1{
    background:url(https://plus.unsplash.com/premium_photo-1738867425318-0f99a3ac3908?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEzMnxpVUlzblZ0akIwWXx8ZW58MHx8fHx8);
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: end;
    padding: 15px;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 5px;
}

/* box 1 ends */

/* box 2 starts */

#box2{
    background-color: white;
    grid-row: 2/4;
    grid-column: 1/4;
    padding: 10px;
    box-sizing: border-box;
}
h1{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-left: 50px;
}
/* box 2 ends */
 /* box 3 starts */
#box3{
    background-color: white;
    grid-row: 4/6;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    padding: 15px;
}
#box3 p{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;

}
/* box 3 ends */

/* box 4 starts */

#box4{
    background-color: white;
    grid-row: 4/6;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* box 4 ends */

#box5{
    background-color: white;
    grid-row: 6/9;
    grid-column: 1/4;
    box-sizing: border-box;
    object-fit: contain;
}
#box5 img{
    width: 100%;
    height: 100%;
}
