*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-color: cadetblue; */
}
header{
    width: 100%;
    height: 18%;
    /* background-color: chocolate; */
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.left{
    display: flex;
    gap: 5px;
}
.logo{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 40px;
}
.right{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.right h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 20px;
}
.nav2{
    display: flex;
    gap: 50px;
    padding: 10px 20px;
}
.nav2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.content{
    width: 100%;
    height: calc(100% - 18%);
    /* background-color: darkorange; */
}
.text-content{
    width: 100%;
    height: 50%;
    /* background-color: brown; */
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.text-content::-webkit-scrollbar{
    
    background-color: transparent;
    height: 10px;
    width: 10px;

}
.text-content::-webkit-scrollbar-thumb{
    background-color:rgb(209, 86, 24);
}
.elem{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-weight: 500;
}
.image-content{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.image-content::-webkit-scrollbar{
    display: none;
}
.image-content img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: 20% 20%;
}