/* *{

    margin: 0px;
    padding: 0px;
}
#center h3{
    opacity: 0;
}
#center{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#download_bar{
    width: 300px;
    height: 10%;
    background-color: rgb(201, 201, 194);
    border-radius: 100px;
}
#progress_bar{
    height: 10%;
    border-radius: 100px;
    background-color: greenyellow;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#center h3 {
    opacity: 0;
    margin-bottom: 15px;
    font-family: sans-serif;
    transition: 0.5s;
}

#download_bar {
    width: 350px;
    height: 30px; /* Fixed height zaroori hai */
    background-color: #e0e0e0;
    border-radius: 50px;
    overflow: hidden; /* Taaki green bar bahar na nikle */
}

#progress_bar {
    width: 0%;
    height: 100%;
    background-color: greenyellow;
    display: flex; /* Text ko center karne ke liye */
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
    /* Transition ko fast rakha hai taaki smooth lage */
    transition: width 0.1s linear; 
}
#Download {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#Download:hover {
    background-color: #27ae60;
}

#Download:active {
    transform: scale(0.95); /* Click karne par thoda dabega */
}