*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* background-color: bisque; */
    width: 35vw;
    height: 25vh;
}
input{
    width: 100%;
    height: 5vh;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: 2px solid #dadada;
    outline-color: cadetblue;
    padding: 5px;
}
.people{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* background-color: rgb(228, 228, 25); */
    padding: 5px;
}
.person img{
    width: 8vw;
    height: 13vh;
    border-radius: 50%;
    margin-top: 20px;
    object-position: 10% 10%;
    object-fit: cover;
}

.person h4{
    text-align: start;
    margin: 10px;
}